h1,
h2,
h3,
body {
    margin: 0;
}

body {
    background-image: url(./imagen3.jpg);
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #000000;
    margin: 0;
    display: flex;
    justify-content: space-between;

    >* {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    img {
        height: 23px;
    }

    p,
    span {
        font-weight: lighter;

        span {
            font-weight: bold;
            color: #ffd900;
        }
    }
}

main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px;
    flex-grow: 1;
}

.input-container {
    display: flex;
    align-items: center;
}

.label-grande {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

label input {
    width: 80%;
    padding: 10px 20px;
}

.inicio-busqueda {
    margin-left: 10px;
    color: rgb(255, 255, 255);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.boton {
    border: 1px solid white;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: large;
    text-align: center;
    min-width: 150px;
    border-radius: 20px;
}

.boton.importante {
    background-color: #f8c325;
    border: unset;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    flex-basis: 300px;
    flex-grow: 1;
    margin-bottom: 1rem;
    transition: 200ms;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.25);
    user-select: none;
}

#contenedor-tarjetas{
    display: flex;
    flex-wrap: wrap;
}

.tarjeta img{
    margin-bottom: auto;
    max-width: 400px;
    max-height: 400px;
}

.tarjeta p{
    background-color: rgb(0, 0, 0);
    padding: 20px;
}

.tarjeta:hover{
    transform: scale(1.05);
}

.tarjeta div{
    background-color: var(--color-acento);
    padding: 20px;
}

ul{
    background-color: var(--color-acento);
    padding: 20px;
    margin-bottom: 1rem;
}

li{
    font-weight: bold;
    list-style-type: disc;
}


footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

footer p {
    margin: 0;
    font-size: 14px;
    display: flex;
    align-items: center;
}

footer .redes-sociales {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

footer .redes-sociales a {
    color: #f4ba0c;
    text-decoration: none;
    margin: 0 5px;
}

footer .redes-sociales a:hover {
    text-decoration: underline;
}